.container
{
    display: flex;
}

.sidebar
{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    border-right: 2px solid grey;
}

.heading{
    font-weight: bold;
    margin-bottom: 20;
    font-family: "Montserrat";
}

.marketData
{
    align-self: flex-start;
    padding: 25px;
    padding-top: 10px;
    width: 100%;

}

.description{
    width: 100%;
    font-family: "Montserrat";
    padding: 25px;
    padding-bottom: 15px;
    padding-top: 0;
    text-align: justify;
}

@media screen and (max-width: 900px) {
    .container{
        flex-direction: column;
        align-items: center;
    }

    .sidebar{
        width: 100%;
    }

    .marketData{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }

@media screen and (max-width: 480px) 
{   
    .marketData{
        align-items: flex-start;
    }
}