.selectbutton
{
    border: 1px solid aliceblue;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Montserrat';
    cursor: pointer;
    width: 22%;
}

.selectbutton :hover{
background-color: aliceblue;
color: black;
}